@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular";
  background-color: #b8d0ed;
  color: #1d3d5e;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.addButton,
.removeButton {
  border: none;
  border-radius: 0.3125rem;
  margin-left: 1rem;
}

.removeButton {
  color: gray;
}

.list {
  list-style: none;
}

.list li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.checked {
  text-decoration: line-through;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem;
}

#todo-input {
  border: none;
  background-color: transparent;
  width: 18.75rem;
  height: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #1d3d5e;
}

#todo-input:focus {
  outline: none;
  border: 1px solid #1d3d5e;
  border-radius: 0.1875rem;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}
