@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --deep-blue: #1d3d5e;
  --sky-blue: #b8d0ed;
}

body {
  min-width: 320px;
  font-family: "Pretendard-Regular";
  background-color: var(--sky-blue);
  color: var(--deep-blue);
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#main {
  background-color: #fff;
  border-radius: 0.625rem;
  filter: drop-shadow(0rem 0rem 0.75rem #3b93eb);
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.625rem;
}

.addButton,
.removeButton {
  border: none;
  border-radius: 0.3125rem;
}

.removeButton {
  color: rgba(255, 0, 0, 0.588);
  margin-left: 0.5rem;
}

.addButton {
  margin-left: 1rem;
  width: 2.5rem;
  height: 1.8rem;
  background-color: var(--deep-blue);
  color: #fff;
}

.addButton:hover {
  background: #326aa1;
}

.list {
  list-style: none;
}

.list li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.checked {
  text-decoration: line-through;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem;
}

#todo-input {
  border: none;
  background-color: transparent;
  width: 18.75rem;
  height: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--deep-blue);
}

#todo-input:focus {
  outline: none;
  border: 1px solid var(--deep-blue);
  border-radius: 0.1875rem;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

/* 480px 이하 */
@media (max-width: 480px) {
  body {
    width: 100%;
  }

  #todo-input {
    width: 15rem;
  }

  .title {
    font-size: 1.3rem;
  }

  .new-todo {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  body {
    width: 100%;
  }

  #todo-input {
    width: 13.5rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .new-todo {
    font-size: 0.8rem;
  }
}
